.container
  .row
    .col-xs-3
      .panel.panel-default
        .panel-heading
          Post new tweet
        .panel-body
    .col-xs-9
      = link_to "すべてのツイート", tweets_path
      = link_to "フォローしている人のツイート", timeline_tweets_path
      .list-group
        = render @tweets
