.panel.panel-default
  .panel-heading
    = render_user_screen_name current_user
  .panel-body
    .btn-group
      #{user.tweets.count} tweets,
      #{user.favorites.count} favs,
      #{user.followers.count} followers
