.col-xs-3
  = render partial: "user_panel", locals: { user: current_user }
.col-xs-9
  .list-group
    = div_for @users, class: "list-group-item" do |user|
      %h4
        = link_to user.name, user_path(user)
      %p
        = link_to_follow_or_unfollow user
